## Final Project Submission

Please fill out:
* Student name: 
* Student pace: self paced / part time / full time
* Scheduled project review date/time: 
* Instructor name: 
* Blog post URL:

In [2]:
# Your code here - remember to use markdown cells for comments as well!

# Import the pandas library 
They will help in analysing and cleaning the data set we have

In [3]:
import pandas as pd

we read the data in the csv file 
create a Series called aviation data to hold the data in  a data frame
Then check what we are working with

In [4]:
aviation_data = pd.read_csv("data/Aviation_Data.csv" , low_memory=False)

aviation_data

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90343,20221227106491,Accident,ERA23LA093,2022-12-26,"Annapolis, MD",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,0.0,NaN,NaN,NaN,29-12-2022
90344,20221227106494,Accident,ERA23LA095,2022-12-26,"Hampton, NH",United States,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
90345,20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,341525N,1112021W,PAN,PAYSON,...,Personal,NaN,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022
90346,20221227106498,Accident,WPR23LA076,2022-12-26,"Morgan, UT",United States,NaN,NaN,NaN,NaN,...,Personal,MC CESSNA 210N LLC,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
90347,20221230106513,Accident,ERA23LA097,2022-12-29,"Athens, GA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,1.0,NaN,NaN,NaN,30-12-2022

#Raw data summary

From the avaiation_data series we see that the data has 90,348 rows and has 31 columns 

Pandas detected that:

Some rows in those columns are numbers

Others are strings / missing values

It couldn’t safely guess a single dtype while loading in chunks


instead we added the low memory = false as it :
   : Removes the warning
   : Lets pandas infer dtypes correctly
   :Ideal for plotting & exploration

CHECKING THE DATA SET IFORMATION 

- To get a clear glimpse of what we are woking  on 

use the .info() function for this

In [5]:
aviation_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90348 entries, 0 to 90347
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      90348 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50132 non-null  object
 9   Airport.Name            52704 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87507 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81793 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82505 non-null  object
 30  Publication.Date        73659 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.4+ MB

In [6]:
aviation_data.columns

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code',
       'Airport.Name', 'Injury.Severity', 'Aircraft.damage',
       'Aircraft.Category', 'Registration.Number', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 'FAR.Description',
       'Schedule', 'Purpose.of.flight', 'Air.carrier', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition', 'Broad.phase.of.flight', 'Report.Status',
       'Publication.Date'],
      dtype='object')

Check what values are missing in the whole data frame , this helps us decide which data we will remove , which we will fill with values

In [7]:
aviation_data.describe()

,Number.of.Engines,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
count,82805.000000,77488.000000,76379.000000,76956.000000,82977.000000
mean,1.146585,0.647855,0.279881,0.357061,5.325440
std,0.446510,5.485960,1.544084,2.235625,27.913634
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,0.000000,0.000000,0.000000,1.000000
75%,1.000000,0.000000,0.000000,0.000000,2.000000
max,8.000000,349.000000,161.000000,380.000000,699.000000

#Check for duplicate values

In [8]:
aviation_data.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
90343    False
90344    False
90345    False
90346    False
90347    False
Length: 90348, dtype: bool

In [9]:
aviation_data.drop_duplicates( inplace=True)

aviation_data.duplicated().sum()

np.int64(0)

In [10]:
aviation_data.isna().sum()

Event.Id                     69
Investigation.Type            0
Accident.Number              69
Event.Date                   69
Location                    121
Country                     295
Latitude                  54576
Longitude                 54585
Airport.Code              38826
Airport.Name              36254
Injury.Severity            1069
Aircraft.damage            3263
Aircraft.Category         56671
Registration.Number        1451
Make                        132
Model                       161
Amateur.Built               171
Number.of.Engines          6153
Engine.Type                7165
FAR.Description           56935
Schedule                  76376
Purpose.of.flight          6261
Air.carrier               72310
Total.Fatal.Injuries      11470
Total.Serious.Injuries    12579
Total.Minor.Injuries      12002
Total.Uninjured            5981
Weather.Condition          4561
Broad.phase.of.flight     27234
Report.Status              6453
Publication.Date          15299
dtype: int64

In [11]:
aviation_data.isna().sum()

Event.Id                     69
Investigation.Type            0
Accident.Number              69
Event.Date                   69
Location                    121
Country                     295
Latitude                  54576
Longitude                 54585
Airport.Code              38826
Airport.Name              36254
Injury.Severity            1069
Aircraft.damage            3263
Aircraft.Category         56671
Registration.Number        1451
Make                        132
Model                       161
Amateur.Built               171
Number.of.Engines          6153
Engine.Type                7165
FAR.Description           56935
Schedule                  76376
Purpose.of.flight          6261
Air.carrier               72310
Total.Fatal.Injuries      11470
Total.Serious.Injuries    12579
Total.Minor.Injuries      12002
Total.Uninjured            5981
Weather.Condition          4561
Broad.phase.of.flight     27234
Report.Status              6453
Publication.Date          15299
dtype: int64

In [12]:
aviation_data.isna().sum().value_counts(ascending=False)

69       3
6153     1
6453     1
27234    1
4561     1
5981     1
12002    1
12579    1
11470    1
72310    1
6261     1
76376    1
56935    1
7165     1
171      1
0        1
161      1
132      1
1451     1
56671    1
3263     1
1069     1
36254    1
38826    1
54585    1
54576    1
295      1
121      1
15299    1
Name: count, dtype: int64

In [13]:
(aviation_data.isna().mean() * 100).sort_values(ascending=False)

Schedule                  85.856247
Air.carrier               81.285550
FAR.Description           64.002113
Aircraft.Category         63.705344
Longitude                 61.360417
Latitude                  61.350300
Airport.Code              43.645316
Airport.Name              40.754064
Broad.phase.of.flight     30.614447
Publication.Date          17.198004
Total.Serious.Injuries    14.140381
Total.Minor.Injuries      13.491760
Total.Fatal.Injuries      12.893725
Engine.Type                8.054363
Report.Status              7.253985
Purpose.of.flight          7.038153
Number.of.Engines          6.916747
Total.Uninjured            6.723398
Weather.Condition          5.127139
Aircraft.damage            3.668023
Registration.Number        1.631107
Injury.Severity            1.201691
Country                    0.331617
Amateur.Built              0.192226
Model                      0.180984
Make                       0.148385
Location                   0.136019
Event.Date                 0.077565
Accident.Number            0.077565
Event.Id                   0.077565
Investigation.Type         0.000000
dtype: float64

# FIX DATA TYPES

In [14]:
## 1. Convert dates 

date_col = ["Event.Date" , "Publication.Date"]

aviation_data[date_col] = aviation_data[date_col].apply( pd.to_datetime, errors="coerce")

C:\Users\compweb\AppData\Local\Temp\ipykernel_12748\1442479211.py:5: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  aviation_data[date_col] = aviation_data[date_col].apply( pd.to_datetime, errors="coerce")

In [15]:
aviation_data["Event.Date"].info
aviation_data["Publication.Date"] .info

<bound method Series.info of 0              NaT
1       1996-09-19
2       2007-02-26
3       2000-09-12
4       1980-04-16
           ...
90343   2022-12-29
90344          NaT
90345   2022-12-27
90346          NaT
90347   2022-12-30
Name: Publication.Date, Length: 88958, dtype: datetime64[ns]>

In [16]:
# change longitudes and lattitudes to numeric floats


cords = ["Longitude" , "Latitude"]

aviation_data[cords]= aviation_data[cords].apply(lambda x : pd.to_numeric(x , errors="coerce"))

In [17]:
aviation_data[cords].dtypes

Longitude    float64
Latitude     float64
dtype: object

In [18]:
aviation_data.duplicated().sum()

np.int64(0)

## FILL NULLVALUES

In [19]:
#ensuring numerical values of  int value are zero instead of NAN


null_cols = [ "Total.Serious.Injuries"  ,  "Total.Minor.Injuries"  , "Total.Fatal.Injuries"]

aviation_data[null_cols] = aviation_data[null_cols].fillna(0 )

In [20]:
aviation_data[null_cols].isna().sum()

Total.Serious.Injuries    0
Total.Minor.Injuries      0
Total.Fatal.Injuries      0
dtype: int64

In [21]:
aviation_data

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaT
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,1996-09-19
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,Personal,NaN,3.0,0.0,0.0,NaN,IMC,Cruise,Probable Cause,2007-02-26
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,2000-09-12
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,0.0,0.0,VMC,Approach,Probable Cause,1980-04-16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90343,20221227106491,Accident,ERA23LA093,2022-12-26,"Annapolis, MD",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,0.0,NaN,NaN,NaN,2022-12-29
90344,20221227106494,Accident,ERA23LA095,2022-12-26,"Hampton, NH",United States,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaT
90345,20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,NaN,NaN,PAN,PAYSON,...,Personal,NaN,0.0,0.0,0.0,1.0,VMC,NaN,NaN,2022-12-27
90346,20221227106498,Accident,WPR23LA076,2022-12-26,"Morgan, UT",United States,NaN,NaN,NaN,NaN,...,Personal,MC CESSNA 210N LLC,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaT
90347,20221230106513,Accident,ERA23LA097,2022-12-29,"Athens, GA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,1.0,NaN,NaN,NaN,2022-12-30

In [22]:
aviation_data.columns

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code',
       'Airport.Name', 'Injury.Severity', 'Aircraft.damage',
       'Aircraft.Category', 'Registration.Number', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 'FAR.Description',
       'Schedule', 'Purpose.of.flight', 'Air.carrier', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition', 'Broad.phase.of.flight', 'Report.Status',
       'Publication.Date'],
      dtype='object')

In [23]:
#filling null values of string values to not avaiable

txt_colls = ['Weather.Condition', 'Broad.phase.of.flight', 'Report.Status' , 'Publication.Date']

aviation_data[txt_colls] = aviation_data[txt_colls].fillna("Not Available")

In [24]:
aviation_data[txt_colls]

,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,UNK,Cruise,Probable Cause,Not Available
1,UNK,Unknown,Probable Cause,1996-09-19 00:00:00
2,IMC,Cruise,Probable Cause,2007-02-26 00:00:00
3,IMC,Cruise,Probable Cause,2000-09-12 00:00:00
4,VMC,Approach,Probable Cause,1980-04-16 00:00:00
...,...,...,...,...
90343,Not Available,Not Available,Not Available,2022-12-29 00:00:00
90344,Not Available,Not Available,Not Available,Not Available
90345,VMC,Not Available,Not Available,2022-12-27 00:00:00
90346,Not Available,Not Available,Not Available,Not Available
90347,Not Available,Not Available,Not Available,2022-12-30 00:00:00

In [25]:
arpt_colls = ["Airport.Code" , "Airport.Name" , "Purpose.of.flight" ]

aviation_data[arpt_colls] = aviation_data[arpt_colls].fillna("Unknown")

In [26]:
aviation_data[arpt_colls]

      Airport.Code Airport.Name Purpose.of.flight
0          Unknown      Unknown          Personal
1          Unknown      Unknown          Personal
2          Unknown      Unknown          Personal
3          Unknown      Unknown          Personal
4          Unknown      Unknown          Personal
...            ...          ...               ...
90343      Unknown      Unknown          Personal
90344      Unknown      Unknown           Unknown
90345          PAN       PAYSON          Personal
90346      Unknown      Unknown          Personal
90347      Unknown      Unknown          Personal

[88958 rows x 3 columns]

### we've already filled  most fo the null values which are going to be needed for the visualization and analytics

## DROP COLUMNS WHICH HAVE NULL VALUES > 80%

In [27]:
#CHECK FOR NULL PERCENTAGE PER COLUMN

(aviation_data.isna().mean() * 100).sort_values(ascending=False)

Longitude                 86.539715
Latitude                  86.526226
Schedule                  85.856247
Air.carrier               81.285550
FAR.Description           64.002113
Aircraft.Category         63.705344
Engine.Type                8.054363
Number.of.Engines          6.916747
Total.Uninjured            6.723398
Aircraft.damage            3.668023
Registration.Number        1.631107
Injury.Severity            1.201691
Country                    0.331617
Amateur.Built              0.192226
Model                      0.180984
Make                       0.148385
Location                   0.136019
Event.Id                   0.077565
Event.Date                 0.077565
Accident.Number            0.077565
Investigation.Type         0.000000
Airport.Name               0.000000
Airport.Code               0.000000
Purpose.of.flight          0.000000
Total.Fatal.Injuries       0.000000
Total.Serious.Injuries     0.000000
Total.Minor.Injuries       0.000000
Weather.Condition          0.000000
Broad.phase.of.flight      0.000000
Report.Status              0.000000
Publication.Date           0.000000
dtype: float64

### WE ARE GOING TO DROP THE TWO :
:: Schedule                  86.073848
:: Air.carrier               81.573471

In [28]:
drp_colls = ["Schedule" ,"Air.carrier"]

aviation_data.drop(columns= drp_colls )

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,FAR.Description,Purpose.of.flight,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,Unknown,Unknown,...,NaN,Personal,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,Not Available
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,Unknown,Unknown,...,NaN,Personal,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,1996-09-19 00:00:00
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,Unknown,Unknown,...,NaN,Personal,3.0,0.0,0.0,NaN,IMC,Cruise,Probable Cause,2007-02-26 00:00:00
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,Unknown,Unknown,...,NaN,Personal,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,2000-09-12 00:00:00
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,Unknown,Unknown,...,NaN,Personal,1.0,2.0,0.0,0.0,VMC,Approach,Probable Cause,1980-04-16 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90343,20221227106491,Accident,ERA23LA093,2022-12-26,"Annapolis, MD",United States,NaN,NaN,Unknown,Unknown,...,091,Personal,0.0,1.0,0.0,0.0,Not Available,Not Available,Not Available,2022-12-29 00:00:00
90344,20221227106494,Accident,ERA23LA095,2022-12-26,"Hampton, NH",United States,NaN,NaN,Unknown,Unknown,...,NaN,Unknown,0.0,0.0,0.0,0.0,Not Available,Not Available,Not Available,Not Available
90345,20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,NaN,NaN,PAN,PAYSON,...,091,Personal,0.0,0.0,0.0,1.0,VMC,Not Available,Not Available,2022-12-27 00:00:00
90346,20221227106498,Accident,WPR23LA076,2022-12-26,"Morgan, UT",United States,NaN,NaN,Unknown,Unknown,...,091,Personal,0.0,0.0,0.0,0.0,Not Available,Not Available,Not Available,Not Available
90347,20221230106513,Accident,ERA23LA097,2022-12-29,"Athens, GA",United States,NaN,NaN,Unknown,Unknown,...,091,Personal,0.0,1.0,0.0,1.0,Not Available,Not Available,Not Available,2022-12-30 00:00:00

# DATA ANALYSIS 

##### figure out individuals cooolumns and how they can be used for naylytics and visualizations 
##### analyze main columns to check the data then relate with others

In [29]:
aviation_data["Report.Status"].value_counts()

Report.Status
Probable Cause                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        61754
Not Available                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          6453
Foreign                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                1999
<br /><br />                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            167
Factual                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 145
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      ...
The certified flight instructor's delayed remedial action and inadequate supervision during a practice autorotation. Contributing to the accident was the student pilot's excessive application of the throttle.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          1
The pilot's inadequate fuel management, which resulted in a loss of engine power due to fuel starvation.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  1
Sundance Helicopters inadequate maintenance of the helicopter, including (1) the improper reuse of a degraded self-locking nut, (2) the improper or lack of installation of a split pin, and (3) inadequate postmaintenance inspections, which resulted in the in-flight separation of the servo control input rod from the fore/aft servo and rendered the helicopter uncontrollable. Contributing to the improper or lack of installation of the split pin was the mechanics fatigue and the lack of clearly delineated maintenance task steps to follow. Contributing to the inadequate postmaintenance inspection was the inspectors fatigue and the lack of clearly delineated inspection steps to follow.        1
The total loss of engine power for reasons that could not be determined because postaccident examination of the airframe and engine did not reveal evidence of preaccident mechanical malfunctions or failures that would have precluded normal operation.                                                                                                                                                                                                                                                                                                                                                                                                                                                                1
The pilots loss of control due to a wind gust during landing.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            1
Name: count, Length: 17007, dtype: int64

In [30]:
aviation_data["Weather.Condition"].value_counts()

Weather.Condition
VMC              77303
IMC               5976
Not Available     4561
UNK                856
Unk                262
Name: count, dtype: int64

#### clean the weather conditions further , to be used

In [31]:
aviation_data["Weather.Condition"] = aviation_data["Weather.Condition"].str.strip().str.upper()

aviation_data["Weather.Condition"] = aviation_data["Weather.Condition"].apply(lambda x : "UNK"  if x == "NOT AVAILABLE" else x ) 

aviation_data["Weather.Condition"].value_counts()

Weather.Condition
VMC    77303
IMC     5976
UNK     5679
Name: count, dtype: int64

In [32]:
aviation_data["Investigation.Type"].value_counts()

Investigation.Type
Accident      85015
Incident       3874
15-12-2022        1
05-01-2021        1
17-12-2021        1
              ...
29-09-2021        1
28-01-2021        1
20-10-2021        1
11-12-2020        1
20-12-2022        1
Name: count, Length: 71, dtype: int64

#### CREATE A SINGLE RISK SCORE PER ACCIDENT

##### This will be used to determine which aircrafts crash most , why , have more injuries , have less fatalities

In [33]:
aviation_data["Total_injuries_per_accident"] = aviation_data["Total.Fatal.Injuries"] + aviation_data["Total.Minor.Injuries"] + aviation_data["Total.Serious.Injuries"]

aviation_data["Total_injuries_per_accident"].value_counts()

Total_injuries_per_accident
0.0      48467
1.0      20590
2.0      12244
3.0       3261
4.0       2268
         ...
229.0        1
52.0         1
97.0         1
59.0         1
99.0         1
Name: count, Length: 144, dtype: int64

#### Group the aircrafts make and model then compare to the mean injuries , total , non injuries

In [34]:
group_aircraft = aviation_data.groupby(["Make" , "Model"])

group_aircraft

In [36]:

accidents = group_aircraft["Event.Id"].count()
avg_injuries = group_aircraft["Total_injuries_per_accident"].mean()
avg_fatalities = group_aircraft["Total.Fatal.Injuries"].mean()
avg_serious = group_aircraft["Total.Serious.Injuries"].mean()
avg_minor = group_aircraft["Total.Minor.Injuries"].mean()
avg_non_injuries= group_aircraft["Total.Uninjured"].mean()

#### Concat the mean of each(injuries) to one table "risk_by_aircaft"

In [41]:
risk_by_aircraft = pd.concat( [accidents, avg_injuries, avg_fatalities ,avg_serious , avg_minor , avg_non_injuries ] ,axis=1).reset_index()

risk_by_aircraft = risk_by_aircraft.rename( columns = { "Make" : "Aircraft Make" , 'Model': "Aircraft Model" , "Event.Id" : "Accident_count" ,
                            "Total_injuries_per_accident" :" Injuries Per accident" , 'Total.Fatal.Injuries' : " Fatal Injuries", 
                            'Total.Serious.Injuries' : 'Serious Injuries', 'Total.Minor.Injuries' : 'Minor Injuries', 'Total.Uninjured': 'Uninjured'})

In [ ]:
#ensure the nan is filled with values
risk_by_aircraft["Uninjured"] = risk_by_aircraft["Uninjured"].fillna(0)

In [45]:
risk_by_aircraft

,Aircraft Make,Aircraft Model,Accident_count,Injuries Per accident,Fatal Injuries,Serious Injuries,Minor Injuries,Uninjured
0,107.5 Flying Corporation,One Design DR 107,1,1.0,1.0,0.0,0.0,0.0
1,1200,G103,1,1.0,0.0,1.0,0.0,0.0
2,177MF LLC,PITTS MODEL 12,1,2.0,0.0,2.0,0.0,0.0
3,1977 Colfer-chan,STEEN SKYBOLT,1,1.0,0.0,0.0,1.0,0.0
4,1st Ftr Gp,FOCKE-WULF 190,1,1.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
20131,de Havilland,DHC-3,1,0.0,0.0,0.0,0.0,8.0
20132,de Havilland,DHC-6-200,1,0.0,0.0,0.0,0.0,15.0
20133,de Havilland,DHC-8-202,1,2.0,0.0,1.0,1.0,20.0
20134,drone,Viper Pro,1,0.0,0.0,0.0,0.0,0.0
20135,unknown,kit,1,1.0,0.0,0.0,1.0,0.0

In [ ]:
risk_by_aircraft.columns