## Final Project Submission

Please fill out:
* Student name: 
* Student pace: self paced / part time / full time
* Scheduled project review date/time: 
* Instructor name: 
* Blog post URL:

In [47]:
# Your code here - remember to use markdown cells for comments as well!

# Import the pandas library 
They will help in analysing and cleaning the data set we have

In [48]:
import pandas as pd

we read the data in the csv file 
create a Series called aviation data to hold the data in  a data frame
Then check what we are working with

In [80]:
aviation_data = pd.read_csv("data/Aviation_Data.csv" , low_memory=False)

aviation_data

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90343,20221227106491,Accident,ERA23LA093,2022-12-26,"Annapolis, MD",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,0.0,NaN,NaN,NaN,29-12-2022
90344,20221227106494,Accident,ERA23LA095,2022-12-26,"Hampton, NH",United States,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
90345,20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,341525N,1112021W,PAN,PAYSON,...,Personal,NaN,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022
90346,20221227106498,Accident,WPR23LA076,2022-12-26,"Morgan, UT",United States,NaN,NaN,NaN,NaN,...,Personal,MC CESSNA 210N LLC,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
90347,20221230106513,Accident,ERA23LA097,2022-12-29,"Athens, GA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,1.0,NaN,NaN,NaN,30-12-2022

#Raw data summary

From the avaiation_data series we see that the data has 90,348 rows and has 31 columns 

Pandas detected that:

Some rows in those columns are numbers

Others are strings / missing values

It couldn’t safely guess a single dtype while loading in chunks


instead we added the low memory = false as it :
   : Removes the warning
   : Lets pandas infer dtypes correctly
   :Ideal for plotting & exploration

CHECKING THE DATA SET IFORMATION 

- To get a clear glimpse of what we are woking  on 

use the .info() function for this

In [81]:
aviation_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90348 entries, 0 to 90347
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      90348 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50132 non-null  object
 9   Airport.Name            52704 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87507 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81793 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82505 non-null  object
 30  Publication.Date        73659 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.4+ MB

In [83]:
aviation_data.columns

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code',
       'Airport.Name', 'Injury.Severity', 'Aircraft.damage',
       'Aircraft.Category', 'Registration.Number', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 'FAR.Description',
       'Schedule', 'Purpose.of.flight', 'Air.carrier', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition', 'Broad.phase.of.flight', 'Report.Status',
       'Publication.Date'],
      dtype='object')

Check what values are missing in the whole data frame , this helps us decide which data we will remove , which we will fill with values

In [84]:
aviation_data.describe()

,Number.of.Engines,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
count,82805.000000,77488.000000,76379.000000,76956.000000,82977.000000
mean,1.146585,0.647855,0.279881,0.357061,5.325440
std,0.446510,5.485960,1.544084,2.235625,27.913634
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,0.000000,0.000000,0.000000,1.000000
75%,1.000000,0.000000,0.000000,0.000000,2.000000
max,8.000000,349.000000,161.000000,380.000000,699.000000

#Check for duplicate values

In [86]:
aviation_data.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
90343    False
90344    False
90345    False
90346    False
90347    False
Length: 90348, dtype: bool

In [54]:
aviation_data.drop_duplicates( inplace=True)

aviation_data.duplicated().sum()

np.int64(0)

In [55]:
aviation_data.isna().sum()

Event.Id                     69
Investigation.Type            0
Accident.Number              69
Event.Date                   69
Location                    121
Country                     295
Latitude                  54576
Longitude                 54585
Airport.Code              38826
Airport.Name              36254
Injury.Severity            1069
Aircraft.damage            3263
Aircraft.Category         56671
Registration.Number        1451
Make                        132
Model                       161
Amateur.Built               171
Number.of.Engines          6153
Engine.Type                7165
FAR.Description           56935
Schedule                  76376
Purpose.of.flight          6261
Air.carrier               72310
Total.Fatal.Injuries      11470
Total.Serious.Injuries    12579
Total.Minor.Injuries      12002
Total.Uninjured            5981
Weather.Condition          4561
Broad.phase.of.flight     27234
Report.Status              6453
Publication.Date          15299
dtype: int64

In [56]:
aviation_data.isna().sum()

Event.Id                     69
Investigation.Type            0
Accident.Number              69
Event.Date                   69
Location                    121
Country                     295
Latitude                  54576
Longitude                 54585
Airport.Code              38826
Airport.Name              36254
Injury.Severity            1069
Aircraft.damage            3263
Aircraft.Category         56671
Registration.Number        1451
Make                        132
Model                       161
Amateur.Built               171
Number.of.Engines          6153
Engine.Type                7165
FAR.Description           56935
Schedule                  76376
Purpose.of.flight          6261
Air.carrier               72310
Total.Fatal.Injuries      11470
Total.Serious.Injuries    12579
Total.Minor.Injuries      12002
Total.Uninjured            5981
Weather.Condition          4561
Broad.phase.of.flight     27234
Report.Status              6453
Publication.Date          15299
dtype: int64

In [57]:
aviation_data.isna().sum().value_counts(ascending=False)

69       3
6153     1
6453     1
27234    1
4561     1
5981     1
12002    1
12579    1
11470    1
72310    1
6261     1
76376    1
56935    1
7165     1
171      1
0        1
161      1
132      1
1451     1
56671    1
3263     1
1069     1
36254    1
38826    1
54585    1
54576    1
295      1
121      1
15299    1
Name: count, dtype: int64

In [87]:
(aviation_data.isna().mean() * 100).sort_values(ascending=False)

Schedule                  86.073848
Air.carrier               81.573471
FAR.Description           64.555939
Aircraft.Category         64.263736
Longitude                 61.954886
Latitude                  61.944924
Airport.Code              44.512330
Airport.Name              41.665560
Broad.phase.of.flight     31.681941
Publication.Date          18.471909
Total.Serious.Injuries    15.461327
Total.Minor.Injuries      14.822686
Total.Fatal.Injuries      14.233851
Engine.Type                9.468942
Report.Status              8.680878
Purpose.of.flight          8.468367
Number.of.Engines          8.348829
Total.Uninjured            8.158454
Weather.Condition          6.586753
Aircraft.damage            5.150086
Registration.Number        3.144508
Injury.Severity            2.721698
Country                    1.865011
Amateur.Built              1.727764
Model                      1.716695
Make                       1.684597
Location                   1.672422
Event.Date                 1.614867
Accident.Number            1.614867
Event.Id                   1.614867
Investigation.Type         0.000000
dtype: float64

# FIX DATA TYPES

In [88]:
## 1. Convert dates 

date_col = ["Event.Date" , "Publication.Date"]

aviation_data[date_col] = aviation_data[date_col].apply( pd.to_datetime, errors="coerce")

C:\Users\compweb\AppData\Local\Temp\ipykernel_7592\1442479211.py:5: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  aviation_data[date_col] = aviation_data[date_col].apply( pd.to_datetime, errors="coerce")

In [89]:
aviation_data["Event.Date"].info
aviation_data["Publication.Date"] .info

<bound method Series.info of 0              NaT
1       1996-09-19
2       2007-02-26
3       2000-09-12
4       1980-04-16
           ...
90343   2022-12-29
90344          NaT
90345   2022-12-27
90346          NaT
90347   2022-12-30
Name: Publication.Date, Length: 90348, dtype: datetime64[ns]>

In [66]:
# change longitudes and lattitudes to numeric floats


cords = ["Longitude" , "Latitude"]

aviation_data[cords]= aviation_data[cords].apply(lambda x : pd.to_numeric(x , errors="coerce"))

In [90]:
aviation_data[cords].dtypes

Longitude    object
Latitude     object
dtype: object

In [69]:
aviation_data.duplicated().sum()

np.int64(0)

## FILL NULLVALUES

In [ ]:
#ensuring numerical values of  int value are zero instead of NAN


null_cols = [ "Total.Serious.Injuries"  ,  "Total.Minor.Injuries"  , "Total.Fatal.Injuries"]

aviation_data[null_cols] = aviation_data[null_cols].fillna(0 )

In [100]:
aviation_data[null_cols].isna().sum()

Total.Serious.Injuries    0
Total.Minor.Injuries      0
Total.Fatal.Injuries      0
dtype: int64

In [96]:
aviation_data

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaT
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,1996-09-19
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,Personal,NaN,3.0,0.0,0.0,NaN,IMC,Cruise,Probable Cause,2007-02-26
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,2000-09-12
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,0.0,0.0,VMC,Approach,Probable Cause,1980-04-16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90343,20221227106491,Accident,ERA23LA093,2022-12-26,"Annapolis, MD",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,0.0,NaN,NaN,NaN,2022-12-29
90344,20221227106494,Accident,ERA23LA095,2022-12-26,"Hampton, NH",United States,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaT
90345,20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,341525N,1112021W,PAN,PAYSON,...,Personal,NaN,0.0,0.0,0.0,1.0,VMC,NaN,NaN,2022-12-27
90346,20221227106498,Accident,WPR23LA076,2022-12-26,"Morgan, UT",United States,NaN,NaN,NaN,NaN,...,Personal,MC CESSNA 210N LLC,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaT
90347,20221230106513,Accident,ERA23LA097,2022-12-29,"Athens, GA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,1.0,NaN,NaN,NaN,2022-12-30

In [101]:
aviation_data.columns

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code',
       'Airport.Name', 'Injury.Severity', 'Aircraft.damage',
       'Aircraft.Category', 'Registration.Number', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 'FAR.Description',
       'Schedule', 'Purpose.of.flight', 'Air.carrier', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition', 'Broad.phase.of.flight', 'Report.Status',
       'Publication.Date'],
      dtype='object')

In [97]:
#filling null values of string values to not avaiable

txt_colls = ['Weather.Condition', 'Broad.phase.of.flight', 'Report.Status' , 'Publication.Date']

aviation_data[txt_colls] = aviation_data[txt_colls].fillna("Not Available")

In [99]:
aviation_data[txt_colls]

,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,UNK,Cruise,Probable Cause,Not Available
1,UNK,Unknown,Probable Cause,1996-09-19 00:00:00
2,IMC,Cruise,Probable Cause,2007-02-26 00:00:00
3,IMC,Cruise,Probable Cause,2000-09-12 00:00:00
4,VMC,Approach,Probable Cause,1980-04-16 00:00:00
...,...,...,...,...
90343,Not Available,Not Available,Not Available,2022-12-29 00:00:00
90344,Not Available,Not Available,Not Available,Not Available
90345,VMC,Not Available,Not Available,2022-12-27 00:00:00
90346,Not Available,Not Available,Not Available,Not Available
90347,Not Available,Not Available,Not Available,2022-12-30 00:00:00

In [103]:
arpt_colls = ["Airport.Code" , "Airport.Name" , "Purpose.of.flight" ]

aviation_data[arpt_colls] = aviation_data[arpt_colls].fillna("Unknown")

In [104]:
aviation_data[arpt_colls]

      Airport.Code Airport.Name Purpose.of.flight
0          Unknown      Unknown          Personal
1          Unknown      Unknown          Personal
2          Unknown      Unknown          Personal
3          Unknown      Unknown          Personal
4          Unknown      Unknown          Personal
...            ...          ...               ...
90343      Unknown      Unknown          Personal
90344      Unknown      Unknown           Unknown
90345          PAN       PAYSON          Personal
90346      Unknown      Unknown          Personal
90347      Unknown      Unknown          Personal

[90348 rows x 3 columns]